node_modules/
dist/
build/
coverage/
.tmp/
.cache/
.next/
.out/

.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

.venv/
__pycache__/
*.pyc

vendor/
bin/
obj/

.target/
target/

.idea/
.vscode/

logs/
*.log

.lock-wscript
package-lock.json
pnpm-lock.yaml
yarn.lock
pip-lock.json
poetry.lock
Cargo.lock

.go-build/
